config BROADCOM_WIFI
	default n
	tristate "Broadcom WiFi"
	---help---
		Select this option to build Broadcom wlan driver for the 4330 chip
#config BCM_EMBED_FW
#	default n
#	bool "Broadcom Embed FW into WiFi Driver"
#	depends on BROADCOM_WIFI != n
#	---help---
#		Select this option to embed firmware into wlan driver
